version: "3"

services:
  nginx:
    container_name: nginx
    build: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - client
    networks:
      - mern-app

  socket:
    container_name: socket
    build: ./socket
    ports:
      - "8900:8900"
    networks:
      - mern-app
    depends_on:
      - client
      - api

  client:
    container_name: client
    build:
      context: ./Red_Social_Design_React
    ports:
      - "3000:3000"
    networks:
      - mern-app
    depends_on:
      - api

  api:
    container_name: api
    build:
      context: ./RedSocial_Nodejs_Rest_Api
    ports:
      - "8800:8800"
    depends_on:
      - mongo
    networks:
      - mern-app

  mongo:
    container_name: mymongodatabase
    image: mongo
    ports:
      - "27018:27017"
    networks:
      - mern-app
    logging:
      driver: none

networks:
  mern-app:
    driver: bridge

