version: "3"

services:
  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    ports:
      - "80:80"
    depends_on:
      - client
      - api
      - socket
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - mern-app

  client:
    container_name: client
    build:
      context: ./Red_Social_Design_React
    networks:
      - mern-app

  api:
    container_name: api
    build:
      context: ./RedSocial_Nodejs_Rest_Api
    ports:
      - "8800:8800"
    networks:
      - mern-app
    depends_on:
      - mongo

  socket:
    container_name: socket
    build:
      context: ./socket
    ports:
      - "8900:8900"
    networks:
      - mern-app
    depends_on:
      - api

  mongo:
    container_name: mymongodatabase
    image: mongo
    ports:
      - "27018:27017"
    networks:
      - mern-app

networks:
  mern-app:
    driver: bridge
